<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		[ng-cloak] {
			display: none;
		}

		.form-group-note {
			margin-top: 8px;
			margin-bottom: 10px;
			max-width: 45em;
		}

		div {
			display: table;
			margin-right: auto;
			margin-left: auto;
		}

		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="form-group">
			<a href="#/prescreening-service">Prescreening service</a>
		</div>
		<div class="form-group">
			<a href="#/i-129/1">I-129</a>
		</div>
		<div class="form-group">
			<a href="#/awards">Awards</a>
		</div>
		<div class="form-group">
			<a href="#/membership">Membership</a>
		</div>
		<div class="form-group">
			<a href="#/high-salary">High Salary</a>
		</div>
		<div class="form-group">
			<a href="#/critical-employment">Critical Employment</a>
		</div>
		<div class="form-group">
			<a href="#/authorship">Authorship</a>
		</div>
		<div class="form-group">
			<a href="#/press">Press</a>
		</div>
		<div class="form-group">
			<a href="#/judging-or-panel">Judging or Panel</a>
		</div>
		<div class="form-group">
			<a href="#/original-contribution">Original Contribution</a>
		</div>
		<div class="form-group">
			<a href="#/review">Review</a>
		</div>
		<div class="form-group">
			<a href="#/export-pdf">Export PDF</a>
		</div>
		<div class="form-group">
			<a href="#/end-review-service">End Review Service</a>
		</div>
	</div>
</body>
