<div class="container">
	<form name="form" novalidate>
		<pre>
			{{form}}
		</pre>



	<div class="" ng-repeat="group in groups">
		<h2 ng-bind="group.title"></h2>
		<div class="" ng-repeat="section in group.sections">
			<p ng-bind="section.id"></p>
			<div class="" ng-repeat="field in section.fields">
				<p ng-bind="field.id"></p>
				<!-- textfield -->
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'text'">
					<label for="{{field.id}}">{{field.title.substr(field.title.indexOf('.') + 2)}}</label>
					<input type="text" class="form-control" id="{{field.id}}" name="{{field.id}}" ng-model="formData[field.id]" ng-required="field.validations.required" ng-minlength="field.validations.min_length">

					<div ng-show="form.$submitted" ng-cloack>
						<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
						<span class="help-block" ng-show="form['{{field.id}}'].$error.minlength" ng-if="field.validations.min_length">Please enter a value of at least {{field.validations.min_length}} characters</span>
					</div>

					<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>
				</div>

				<!-- select -->
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'select'">
						<select ng-model="valueSelected" ng-options="value as value.title for value in field.values"></select>
				</div>

				<!-- Check box -->
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'checkbox'">
					<input type="checkbox" name="vehicle1" value="Bike" ng-options="value as value.title for value in field.values"><br>
				</div>

		</div>
	</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>
