<div class="container">
	<form name="form" novalidate>
		<pre>
			{{form}}
			{{formData}}
		</pre>
		<div class="">
			<h2 ng-bind="group.title" style="color:green"></h2>
			<div class="" ng-repeat="section in group.sections">
				<div class="" ng-repeat="field in section.fields">

					<!-- textfield -->
					<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'text'">
						<!-- <label for="{{field.id}}">{{field.title.substr(field.title.indexOf('.') + 2)}}</label><br> -->
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<input type="text" class="form-control" id="{{field.id}}" name="{{field.id}}" ng-model="formData[field.id]" ng-required="field.validations.required" ng-minlength="field.validations.min_length">
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.minlength" ng-if="field.validations.min_length">Please enter a value of at least {{field.validations.min_length}} characters</span>
						</div>
					</div>

					<!-- number -->
					<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'number'">
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<input type="number" class="form-control" id="{{field.id}}" name="{{field.id}}" ng-model="formData[field.id]" ng-required="field.validations.required" ng-minlength="field.validations.min_length">
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.minlength" ng-if="field.validations.min_length">Please enter a value of at least {{field.validations.min_length}} characters</span>
						</div>
					</div>

					<!-- select -->
					<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'select'">
						<!-- <label for="{{field.id}}">{{field.title.substr(field.title.indexOf('.') + 2)}}</label><br> -->
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<select ng-model="formData[field.id]" value="{{value}}" ng-options="value as value.title for value in field.values"></select>
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
						</div>
					</div>

					<!-- Check box -->
					<!-- <div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'checkbox'">
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<label ng-repeat="value in field.values"><input type="checkbox" id="{{field.id}}" name="field.id" ng-model="formData[field.id]"> {{value.title}}</label>
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
						</div>
					</div> -->

					<div  class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'radio'">
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<label ng-repeat="value in field.values">
							<input type="radio" id="{{field.id}}" name="field.id" ng-model="formData[field.id]" value="{{value.title}}">{{value.title}}</label>
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
						</div>

						Selected Value is : {{formData[field.id]}}
					</div>

					<!-- Yeah, I totally missed this part. Yes, checkbox is for boolean not for selecting one out of many. I have further questions. 1. Right now the data is being saved as integer (0,1,2). Is there a way to save the selected data as (not selected, yes, no)?   2. When the form is first opened, the first option is initially selected beacuse of `ng-init="formData[field.id]=0"`. I did get rid of this, but it starts selecting the middle one initially. How do I unselect everything initially? -->

					<!-- date -->
					<div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'date'">
						<!-- <label for="{{field.id}}">{{field.title.substr(field.title.indexOf('.') + 2)}}</label> -->
						<label for="{{field.id}}">{{field.title}}</label>
						<br>
						<input type="date" class="form-control" id="{{field.id}}" name="{{field.id}}" ng-model="formData[field.id]" ng-required="field.validations.required" ng-minlength="field.validations.min_length">
						<p class="form-group-note" ng-if="field.info" ng-bind="field.info"></p>

						<div ng-show="form.$submitted" ng-cloack>
							<span class="help-block" ng-show="form['{{field.id}}'].$error.required" ng-if="field.validations.required">Please enter a value, this field is required</span>
						</div>
					</div>

					<!-- subtitle -->
					<!-- <div class="form-group" ng-class="{ 'has-error': form.$submitted && form[field.id].$invalid }" ng-if="field.type === 'subtitle'">
						<label for="{{field.id}}">{{field.title.substr(field.title.indexOf('.') + 2)}}</label>
					</div> -->

				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-success" ng-click="onSave()">Submit</button>
		<button class="btn btn-primary" ng-click="previousStep()">Previous</button>
		<button class="btn btn-primary" ng-click="nextStep()">Next</button>
	</form>

</div>
